<template>
<li>
 <span
   :class="{taskDone:taskToDisplay.isDone}"
   @click="$emit('end-task')"
 >{{ taskToDisplay.name | enMajuscule }}</span><button @click="deleteTask">X</button>
</li>
</template>

<script>
import {enMajuscule} from '@/utils.js';

export default {
  name: 'Task',
  props: {
    taskToDisplay: {
      type: Object,
      default: {
        name: "",
        isDone: false
      },
    },
  },
 methods: {
   deleteTask() {
      this.$emit("remove")
   }
 },
  filters:{
    enMajuscule
  }
};
</script>
<style scoped>
span{
  width: 50%;
  display: inline-block;
}
.taskDone {
  text-decoration: line-through;
  color: darkgrey;
}
</style>
