<template>
  <div>
    <input ref="myInput" type="text" v-model="currentTask" @keypress.enter="addTask">
    <button @click="addTask">Ajouter</button>
    <ul>
      <Task
        :key="task.id"
        :taskToDisplay="task"
        v-for="task in tasks"
        @remove="removeTask(task)"
        @end-task="updateTask(task)"
      />
    </ul>
  </div>
</template>
<script>
import Axios from "axios"
import Task from '@/components/Task.vue';
export default {
  name: "Todo",
  components: { Task },
  data() {
    return {
      tasks: [],
      currentTask: ""
    };
  },
  methods: {
    async addTask(){
      const response = await Axios.post(
        "https://todo-hoc.dunarr.com/tasks/5fcf68398157f",
        {
          name: this.currentTask,
          isDone: false
        }
      )
      const newTask = response.data
      this.tasks.push(newTask)
      this.currentTask = ""
      this.$refs.myInput.focus()
    },
    removeTask(taskToDelete){
      const index = this.tasks.indexOf(taskToDelete)
      this.tasks.splice(index, 1)
      Axios.delete("https://todo-hoc.dunarr.com/tasks/5fcf68398157f/"+taskToDelete.id)
    },
    async fetchTasks(){
      // Récupérer mes tâches
      const response = await Axios.get("https://todo-hoc.dunarr.com/tasks/5fcf68398157f")
      const taskList = response.data.tasks
      this.tasks = taskList
    },
    updateTask(taskToUpdate){
      taskToUpdate.isDone = !taskToUpdate.isDone
      Axios.put(
        "https://todo-hoc.dunarr.com/tasks/5fcf68398157f/"+taskToUpdate.id,
        {
          isDone: taskToUpdate.isDone
        }
      )
    }
  },
  mounted() {
    this.fetchTasks()
  }
}
</script>
<style></style>
